@media only screen and (max-width: 800px) {
	.about-item{
		padding-bottom: 50px!important;
		border-radius: 10px!important;
	}
}
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-weight: bold;
}
html{
	padding: 1%;
}
body{
	color:#00AEEF;
	background-color:#fff;
	width: 100%;
}

button{
	color:#00AEEF;
	border-radius:10px;
	background-color: #fff;
	border:2px solid #00AEEF;
}
button:hover{
	transition: 1s;
	background-color: #00AEEF;
	color:#fff;
}


.grid-container{
	display: grid;
	height: 100%;
}

/* NAV CONTAINER STYLING */
.navigation-container{
	width: 100%;
	display: grid;
	grid-template-columns: 0.9fr 0.9fr 0.9fr 0.9fr 0.9fr; /* o fractie din size pentru fiecare child */
}
.nav-logo{
	/*background-image: url("...");
	color:#fff;*/
	border-left:2px solid #00AEEF;
}
.nav-item{
	text-align: center;
	padding: 5%;
	border-top:2px solid #00AEEF;
	border-right:2px solid #00AEEF;
	border-bottom:2px solid #00AEEF;
}

/* END CONTAINER STYLING */

/* HOME CONTAINER STYLING */
.home-container{
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.home-item{
	text-align: center;
	border-bottom: 2px solid #00AEEF;
	border-right:2px solid #00AEEF;
}
.home-item-text{
	padding-top: 12%;
	height: 50%;
}
.home-image-item{
	text-align: center;
	vertical-align: middle;
	padding: 21%;
}
.home-item-left{
	height: 100%;
	border-left: 2px solid #00AEEF;
}
.btn-home{
	margin-top: 12%;
	padding: 2%;
	padding-right: 5%;
	padding-left: 5%;
}
/* END HOME CONTAINER STYLING */

/* MAIN CONTAINER STYLING */
.main-content{
	display: flex;
	justify-content: center;
	flex-direction: column;
	border-bottom: 2px solid #00AEEF;
	border-right: 2px solid #00AEEF;
	border-left: 2px solid #00AEEF;
}
.team-container{
	display: flex;
	justify-content: center;
	margin-left: 5%;
	margin-right: 5%;
}
.team-member{
	border: 2px solid #00AEEF;
    display: inline-block;
    vertical-align: middle;
    margin: 20px;
    width: 23.33%;
    padding-bottom: 19.33%;
    border-radius: 50%;
}
.team-container div:nth-child(1):hover{
	transition: 1s;
	background-color: #00AEEF;
	color:#fff;
}
.team-container div:nth-child(2):hover{
	transition: 1s;
	background-color: #0000FF;
	color:#fff;
}
.team-container div:nth-child(3):hover{
	transition: 1s;
	background-color: #FF00FF;
	color:#fff;
}
.about-container{
	display: flex;
	justify-content: center;
	margin-left: 5%;
	margin-right: 5%;
}
.about-item{
	border: 2px solid #00AEEF;
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 200px;
    margin: 15px;
    width: 25%;
    border-radius: 40px;
}
.about-item:hover{
	transition: 1s;
	background-color: #00AEEF;
	color:#fff;
}
/* END MAIN CONTAINER STYLING */


.contact-container{
	border-bottom: 2px solid #00AEEF;
	border-right: 2px solid #00AEEF;
	border-left: 2px solid #00AEEF;
	padding-top: 1%;
	padding-bottom: 1%;
	font-size:25px;
	text-align: center;
	width: 100%;
}